:root {
    --bg-color: #ffff;
    --font-color1: #171923;
    --font-color2: #4A5568;
    --font-color3: #A0AEC0;

    --primary-color: #8C19D2;
    --primary-color-hover: #9f2fdb;
    --secondary-color: #0069CA;
    --secondary-color-hover: #0056A3;

    --border-color: #E2E8F0;
}

html {
    scrollbar-gutter: stable;
}

body {
    margin: 0;
    overflow-x: hidden;
}

#root {
    min-height: 100vh;
    overflow-x: hidden;
}